openapi: 3.1.0
info:
  contact:
    email: tech@getlago.com
  description: Lago API allows your application to push customer information and metrics
    (events) from your application to the billing application.
  license:
    name: AGPLv3
  title: Lago API documentation
  version: 1.28.1
externalDocs:
  description: Lago Github
  url: https://github.com/getlago
servers:
- description: US Lago cluster
  url: https://api.getlago.com/api/v1
- description: EU Lagos cluster
  url: https://api.eu.getlago.com/api/v1
security:
- bearerAuth: []
tags:
- description: Everything about Analytics
  name: analytics
- description: Everything about Billable metric collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/billable_metrics/billable-metric-object
  name: billable_metrics
- description: Everything about Billing Entities
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/billing_entities/billing-entity-object
  name: billing_entities
- description: Everything about Customer collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/customers/customer-object
  name: customers
- description: Everything about Plan collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/plans/plan-object
  name: plans
- description: Everything about Subscription collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/subscriptions/subscription-object
  name: subscriptions
- description: Everything about Event collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/events/event-object
  name: events
- description: Everything about Organization collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/organizations/organization-object
  name: organizations
- description: Everything about Tax collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/taxes/tax-object
  name: taxes
- description: Everything about Coupon collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/coupons/coupon-object
  name: coupons
- description: Everything about Add-on collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/add_ons/add-on-object
  name: add_ons
- description: Everything about Fees
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/invoices/invoice-object#fee-object
  name: fees
- description: Everything about Invoice collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/invoices/invoice-object
  name: invoices
- description: Everything about Wallet collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/wallets/wallet-object
  name: wallets
- description: Everything about Credit notes collection
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/credit_notes/credit-note-object
  name: credit_notes
- description: Everything about Webhooks
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/webhooks/message-signature#1-retrieve-the-public-key
  name: webhooks
- description: Everything about Webhook Endpoints
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/webhook_endpoints/webhook-endpoint-object
  name: webhook_endpoints
- description: Everything about Payment receipts
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/payment_receipts/payment_receipt-object
  name: payment_receipts
- description: Everything about PaymentRequests
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/payment_requests/payment_request-object
  name: payment_requests
- description: Everything about Payments
  externalDocs:
    description: Find out more
    url: https://doc.getlago.com/docs/api/payments/payment-object
  name: payments
paths:
  /billing_entities:
    get:
      description: This endpoint returns a list of all billing entities in the organization
      operationId: listBillingEntities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listBillingEntities_200_response'
          description: List of billing entities
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: List all billing entities
      tags:
      - billing_entities
      x-accepts:
      - application/json
    post:
      description: This endpoint is used to create a new billing entity
      operationId: createBillingEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEntityCreateInput'
        description: The billing entity payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntityObject'
          description: Billing entity created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a billing entity
      tags:
      - billing_entities
      x-content-type: application/json
      x-accepts:
      - application/json
  /billing_entities/{code}:
    get:
      description: This endpoint returns a specific billing entity by its code
      operationId: getBillingEntity
      parameters:
      - description: The ID of the billing entity
        explode: false
        in: path
        name: code
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBillingEntity_200_response'
          description: Billing entity details
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Retrieve a billing entity
      tags:
      - billing_entities
      x-accepts:
      - application/json
    parameters:
    - description: The ID of the billing entity
      explode: false
      in: path
      name: code
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    put:
      description: This endpoint is used to update an existing billing entity
      operationId: updateBillingEntity
      parameters:
      - description: The ID of the billing entity
        explode: false
        in: path
        name: code
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEntityUpdateInput'
        description: The billing entity update payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntityObjectExtended'
          description: Billing entity updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update a billing entity
      tags:
      - billing_entities
      x-content-type: application/json
      x-accepts:
      - application/json
  /add_ons:
    get:
      description: This endpoint is used to list all existing add-ons.
      operationId: findAllAddOns
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnsPaginated'
          description: Add-ons
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all add-ons
      tags:
      - add_ons
      x-accepts:
      - application/json
    post:
      description: This endpoint is used to create an add-on that can be then attached
        to a one-off invoice.
      operationId: createAddOn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnCreateInput'
        description: Add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create an add-on
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts:
      - application/json
  /add_ons/{code}:
    delete:
      description: This endpoint is used to delete an existing add-on.
      operationId: destroyAddOn
      parameters:
      - description: Unique code used to identify the add-on.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: setup_fee
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on deleted
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Delete an add-on
      tags:
      - add_ons
      x-accepts:
      - application/json
    get:
      description: This endpoint is used to retrieve a specific add-on.
      operationId: findAddOn
      parameters:
      - description: Unique code used to identify the add-on.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: setup_fee
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve an add-on
      tags:
      - add_ons
      x-accepts:
      - application/json
    parameters:
    - description: Unique code used to identify the add-on.
      explode: false
      in: path
      name: code
      required: true
      schema:
        example: setup_fee
        type: string
      style: simple
    put:
      description: This endpoint is used to update an existing add-on.
      operationId: updateAddOn
      parameters:
      - description: Unique code used to identify the add-on.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: setup_fee
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnUpdateInput'
        description: Add-on payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
          description: Add-on updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update an add-on
      tags:
      - add_ons
      x-content-type: application/json
      x-accepts:
      - application/json
  /analytics/gross_revenue:
    get:
      description: Gross revenue is the sum of monthly `finalized` invoice payments
        and fees paid in advance that are not invoiceable. This total is calculated
        after deducting taxes and discounts.
      operationId: findAllGrossRevenues
      parameters:
      - description: Currency of revenue analytics. Format must be ISO 4217.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
        style: form
      - description: The customer external unique identifier (provided by your own
          application). Use it to filter revenue analytics at the customer level.
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - $ref: '#/components/parameters/months'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrossRevenues'
          description: Gross revenue
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List gross revenue
      tags:
      - analytics
      x-accepts:
      - application/json
  /analytics/invoice_collection:
    get:
      description: "Represents a monthly aggregation, detailing both the total count\
        \ and the cumulative amount of invoices that have been marked as `finalized`.\
        \ This report sorts invoices categorically based on their `payment_status`."
      operationId: findAllInvoiceCollections
      parameters:
      - description: The currency of revenue analytics. Format must be ISO 4217.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
        style: form
      - $ref: '#/components/parameters/months'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCollections'
          description: Finalized invoice collection
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List of finalized invoices
      tags:
      - analytics
      x-accepts:
      - application/json
  /analytics/invoiced_usage:
    get:
      description: "Reports a monthly analysis focused on the revenue generated from\
        \ all usage-based fees. It exclusively accounts for revenue that has been\
        \ formally invoiced. Importantly, this report does not include revenue related\
        \ to the usage in the current billing period, limiting its scope to previously\
        \ invoiced amounts."
      operationId: findAllInvoicedUsages
      parameters:
      - description: The currency of invoiced usage analytics. Format must be ISO
          4217.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
        style: form
      - $ref: '#/components/parameters/months'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicedUsages'
          description: Invoiced usage
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List usage revenue
      tags:
      - analytics
      x-accepts:
      - application/json
  /analytics/mrr:
    get:
      description: This endpoint is used to list MRR.
      operationId: findAllMrrs
      parameters:
      - description: |-
          Quantifies the revenue generated from `subscription` fees on a monthly basis. This figure is calculated post-application of applicable taxes and deduction of any applicable discounts. The method of calculation varies based on the subscription billing cycle:

          - Revenue from `monthly` subscription invoices is included in the MRR for the month in which the invoice is issued.
          - Revenue from `quarterly` subscription invoices is distributed evenly over three months. This distribution applies to fees paid in advance (allocated to the next remaining months depending on calendar or anniversary billing) as well as to fees paid in arrears (allocated to the preceding months depending on calendar or anniversary billing).
          - Revenue from `yearly` subscription invoices is distributed evenly over twelve months. This allocation is applicable for fees paid in advance (spread over the next  remaining months depending on calendar or anniversary billing) and for fees paid in arrears (spread over the previous months depending on calendar or anniversary billing).
          - Revenue from `weekly` subscription invoices, the total revenue from all invoices issued within a month is summed up. This total is then divided by the number of invoices issued during that month, and the result is multiplied by 4.33, representing the average number of weeks in a month.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
        style: form
      - $ref: '#/components/parameters/months'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mrrs'
          description: MRR
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List MRR
      tags:
      - analytics
      x-accepts:
      - application/json
  /analytics/overdue_balance:
    get:
      description: Overdue balance is the total amount associated with overdue invoices
        (invoices with pending or failed payments which are past their due dates).
      operationId: findAllOverdueBalances
      parameters:
      - description: Currency of revenue analytics. Format must be ISO 4217.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
        style: form
      - description: The customer external unique identifier (provided by your own
          application). Use it to filter revenue analytics at the customer level.
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - $ref: '#/components/parameters/months'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverdueBalances'
          description: Overdue balance
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List overdue balance
      tags:
      - analytics
      x-accepts:
      - application/json
  /applied_coupons:
    get:
      description: This endpoint is used to list all applied coupons. You can filter
        by coupon status and by customer.
      operationId: findAllAppliedCoupons
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - description: The status of the coupon. Can be either `active` or `terminated`.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - terminated
          example: active
          type: string
        style: form
      - description: The customer external unique identifier (provided by your own
          application)
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCouponsPaginated'
          description: Applied Coupons
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all applied coupons
      tags:
      - coupons
      x-accepts:
      - application/json
    post:
      description: "This endpoint is used to apply a specific coupon to a customer,\
        \ before or during a subscription."
      operationId: applyCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppliedCouponInput'
        description: Apply coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
          description: Coupon applied
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Apply a coupon to a customer
      tags:
      - coupons
      x-content-type: application/json
      x-accepts:
      - application/json
  /billable_metrics:
    get:
      description: This endpoint retrieves all existing billable metrics that represent
        pricing components of your application.
      operationId: findAllBillableMetrics
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetricsPaginated'
          description: List of billable metrics
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all billable metrics
      tags:
      - billable_metrics
      x-accepts:
      - application/json
    post:
      description: This endpoint creates a new billable metric representing a pricing
        component of your application.
      operationId: createBillableMetric
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricCreateInput'
        description: Billable metric payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts:
      - application/json
  /billable_metrics/evaluate_expression:
    post:
      description: Evaluate an expression for a billable metric creation by providing
        the expression and test data
      operationId: evaluateBillableMetricExpression
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricEvaluateExpressionInput'
        description: Billable metric expression evaluation payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetricEvaluateExpressionResult'
          description: Billable metric expression evaluation result
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Evaluate an expression for a billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts:
      - application/json
  /billable_metrics/{code}:
    delete:
      description: This endpoint deletes an existing billable metric representing
        a pricing component of your application.
      operationId: destroyBillableMetric
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: storage
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric deleted
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Delete a billable metric
      tags:
      - billable_metrics
      x-accepts:
      - application/json
    get:
      description: This endpoint retrieves an existing billable metric that represents
        a pricing component of your application. The billable metric is identified
        by its unique code.
      operationId: findBillableMetric
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: storage
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a billable metric
      tags:
      - billable_metrics
      x-accepts:
      - application/json
    parameters:
    - description: Code of the existing billable metric.
      explode: false
      in: path
      name: code
      required: true
      schema:
        example: storage
        type: string
      style: simple
    put:
      description: This endpoint updates an existing billable metric representing
        a pricing component of your application.
      operationId: updateBillableMetric
      parameters:
      - description: Code of the existing billable metric.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: storage
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricUpdateInput'
        description: Billable metric payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
          description: Billable metric updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update a billable metric
      tags:
      - billable_metrics
      x-content-type: application/json
      x-accepts:
      - application/json
  /coupons:
    get:
      description: This endpoint is used to list all existing coupons.
      operationId: findAllCoupons
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponsPaginated'
          description: Coupons
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all coupons
      tags:
      - coupons
      x-accepts:
      - application/json
    post:
      description: This endpoint is used to create a coupon that can be then attached
        to a customer to create a discount.
      operationId: createCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponCreateInput'
        description: Coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a coupon
      tags:
      - coupons
      x-content-type: application/json
      x-accepts:
      - application/json
  /coupons/{code}:
    delete:
      description: This endpoint is used to delete a coupon.
      operationId: destroyCoupon
      parameters:
      - description: Unique code used to identify the coupon.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup_deal
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon deleted
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Delete a coupon
      tags:
      - coupons
      x-accepts:
      - application/json
    get:
      description: This endpoint is used to retrieve a specific coupon.
      operationId: findCoupon
      parameters:
      - description: Unique code used to identify the coupon.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup_deal
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a coupon
      tags:
      - coupons
      x-accepts:
      - application/json
    parameters:
    - description: Unique code used to identify the coupon.
      explode: false
      in: path
      name: code
      required: true
      schema:
        example: startup_deal
        type: string
      style: simple
    put:
      description: This endpoint is used to update a coupon that can be then attached
        to a customer to create a discount.
      operationId: updateCoupon
      parameters:
      - description: Unique code used to identify the coupon.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup_deal
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponUpdateInput'
        description: Coupon payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: Coupon updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update a coupon
      tags:
      - coupons
      x-content-type: application/json
      x-accepts:
      - application/json
  /credit_notes:
    get:
      description: This endpoint list all existing credit notes.
      operationId: findAllCreditNotes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/external_customer_id'
      - description: Filter credit notes starting from a specific date.
        explode: true
        in: query
        name: issuing_date_from
        required: false
        schema:
          example: 2022-07-08
          format: date
          type: string
        style: form
      - description: Filter credit notes up to a specific date.
        explode: true
        in: query
        name: issuing_date_to
        required: false
        schema:
          example: 2022-08-09
          format: date
          type: string
        style: form
      - description: "Search credit notes by id, number, customer name, customer external_id\
          \ or customer email."
        explode: true
        in: query
        name: search_term
        required: false
        schema:
          example: Jane
          type: string
        style: form
      - description: Filter credit notes by currency. Possible values ISO 4217 currency
          codes.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          example: EUR
          type: string
        style: form
      - description: "Filter credit notes by reasons. Possible values are `product_unsatisfactory`,\
          \ `order_change`, `order_cancellation`, `fraudulent_charge`, `duplicated_charge`\
          \ or `other`."
        explode: true
        in: query
        name: reason
        required: false
        schema:
          enum:
          - product_unsatisfactory
          - order_change
          - order_cancellation
          - fraudulent_charge
          - duplicated_charge
          - other
          type: string
        style: form
      - description: "Filter credit notes by credit status. Possible values are `available`,\
          \ `consumed`  or `voided`."
        explode: true
        in: query
        name: credit_status
        required: false
        schema:
          enum:
          - available
          - consumed
          - voided
          type: string
        style: form
      - description: "Filter credit notes by refund status. Possible values are `pending`,\
          \ `succeeded`  or `failed`."
        explode: true
        in: query
        name: refund_status
        required: false
        schema:
          enum:
          - pending
          - succeeded
          - failed
          type: string
        style: form
      - description: Filter credit notes by their related invoice number.
        explode: true
        in: query
        name: invoice_number
        required: false
        schema:
          example: INV-001-002
          type: string
        style: form
      - description: Filter credit notes of at least a specific amount. This parameter
          must be defined in cents to ensure consistent handling for all currency
          types.
        explode: true
        in: query
        name: amount_from
        required: false
        schema:
          example: 9000
          type: integer
        style: form
      - description: Filter credit notes up to a specific amount. This parameter must
          be defined in cents to ensure consistent handling for all currency types.
        explode: true
        in: query
        name: amount_to
        required: false
        schema:
          example: 100000
          type: integer
        style: form
      - description: Filter credit notes belonging to a self billed invoice. Possible
          values are `true` or `false`.
        explode: true
        in: query
        name: self_billed
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter credit notes by billing entity codes.
        explode: true
        in: query
        name: billing_entity_codes
        required: false
        schema:
          example:
          - billing_entity_code_1
          - billing_entity_code_2
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNotes'
          description: Credit notes
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all credit notes
      tags:
      - credit_notes
      x-accepts:
      - application/json
    post:
      description: This endpoint creates a new credit note.
      operationId: createCreditNote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteCreateInput'
        description: Credit note payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts:
      - application/json
  /credit_notes/{lago_id}:
    get:
      description: This endpoint retrieves an existing credit note.
      operationId: findCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a credit note
      tags:
      - credit_notes
      x-accepts:
      - application/json
    parameters:
    - description: "The credit note unique identifier, created by Lago."
      explode: false
      in: path
      name: lago_id
      required: true
      schema:
        example: "12345"
        type: string
      style: simple
    put:
      description: This endpoint updates an existing credit note.
      operationId: updateCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteUpdateInput'
        description: Credit note update payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update a credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts:
      - application/json
  /credit_notes/{lago_id}/download:
    post:
      description: This endpoint downloads the PDF of an existing credit note.
      operationId: downloadCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note PDF
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Download a credit note PDF
      tags:
      - credit_notes
      x-accepts:
      - application/json
  /credit_notes/estimate:
    post:
      description: This endpoint allows you to retrieve amounts for a new credit note
        creation.
      operationId: estimateCreditNote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteEstimateInput'
        description: Credit note estimate payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteEstimated'
          description: Credit note amounts
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Estimate amounts for a new credit note
      tags:
      - credit_notes
      x-content-type: application/json
      x-accepts:
      - application/json
  /credit_notes/{lago_id}/void:
    put:
      description: This endpoint voids the available credit linked to a specific credit
        note.
      operationId: voidCreditNote
      parameters:
      - description: "The credit note unique identifier, created by Lago."
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Credit note voided
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/NotAllowed'
      summary: Void available credit
      tags:
      - credit_notes
      x-accepts:
      - application/json
  /customers:
    get:
      description: This endpoint retrieves all existing customers.
      operationId: findAllCustomers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - description: Filter customers by account type.
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          example:
          - customer
          - partner
          items:
            enum:
            - customer
            - partner
            type: string
          type: array
        style: form
      - description: Filter customers by billing entity codes.
        explode: true
        in: query
        name: billing_entity_codes
        required: false
        schema:
          example:
          - billing_entity_code_1
          - billing_entity_code_2
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersPaginated'
          description: List of customers
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all customers
      tags:
      - customers
      x-accepts:
      - application/json
    post:
      description: This endpoint creates a new customer.
      operationId: createCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateInput'
        description: Customer payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Customer created or updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a customer
      tags:
      - customers
      x-content-type: application/json
      x-accepts:
      - application/json
  /customers/{external_customer_id}:
    delete:
      description: This endpoint deletes an existing customer.
      operationId: destroyCustomer
      parameters:
      - description: The customer external unique identifier (provided by your own
          application)
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Customer deleted
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Delete a customer
      tags:
      - customers
      x-accepts:
      - application/json
    get:
      description: This endpoint retrieves an existing customer.
      operationId: findCustomer
      parameters:
      - description: The customer external unique identifier (provided by your own
          application)
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
          description: Customer
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a customer
      tags:
      - customers
      x-accepts:
      - application/json
    parameters:
    - description: The customer external unique identifier (provided by your own application)
      explode: false
      in: path
      name: external_customer_id
      required: true
      schema:
        example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
        type: string
      style: simple
  /customers/{external_customer_id}/applied_coupons/{applied_coupon_id}:
    delete:
      description: This endpoint is used to delete a specific coupon that has been
        applied to a customer.
      operationId: deleteAppliedCoupon
      parameters:
      - description: The customer external unique identifier (provided by your own
          application)
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      - description: "Unique identifier of the applied coupon, created by Lago."
        explode: true
        in: path
        name: applied_coupon_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
          description: Successful response
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Delete an applied coupon
      tags:
      - coupons
      - customers
      x-accepts:
      - application/json
  /customers/{external_customer_id}/portal_url:
    get:
      description: |-
        Retrieves an embeddable link for displaying a customer portal.

        This endpoint allows you to fetch the URL that can be embedded to provide customers access to a dedicated portal
      operationId: getCustomerPortalUrl
      parameters:
      - description: External ID of the existing customer
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomerPortalUrl_200_response'
          description: Portal URL
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Get a customer portal URL
      tags:
      - customers
      x-accepts:
      - application/json
  /customers/{external_customer_id}/current_usage:
    get:
      description: This endpoint enables the retrieval of the usage-based billing
        data for a customer within the current period.
      operationId: findCustomerCurrentUsage
      parameters:
      - description: The customer external unique identifier (provided by your own
          application).
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      - description: The unique identifier of the subscription within your application.
        explode: true
        in: query
        name: external_subscription_id
        required: true
        schema:
          example: sub_1234567890
          type: string
        style: form
      - description: |
          Optional flag to determine if taxes should be applied. Defaults to `true` if not provided or if null.
        explode: true
        in: query
        name: apply_taxes
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerUsage'
          description: Customer usage
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve customer current usage
      tags:
      - customers
      x-accepts:
      - application/json
  /customers/{external_customer_id}/past_usage:
    get:
      description: This endpoint enables the retrieval of the usage-based billing
        data for a customer within past periods.
      operationId: findAllCustomerPastUsage
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - description: The customer external unique identifier (provided by your own
          application).
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      - description: The unique identifier of the subscription within your application.
        explode: true
        in: query
        name: external_subscription_id
        required: true
        schema:
          example: sub_1234567890
          type: string
        style: form
      - description: Billable metric code filter to apply to the charge usage
        explode: true
        in: query
        name: billable_metric_code
        required: false
        schema:
          example: cpu
          type: string
        style: form
      - description: Number of past billing period to returns in the result
        explode: true
        in: query
        name: periods_count
        required: false
        schema:
          example: 5
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPastUsage'
          description: Customer past usage
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Retrieve customer past usage
      tags:
      - customers
      x-accepts:
      - application/json
  /customers/{external_customer_id}/checkout_url:
    post:
      description: This endpoint regenerates the Payment Provider Checkout URL of
        a Customer.
      operationId: generateCustomerCheckoutURL
      parameters:
      - description: The customer external unique identifier (provided by your own
          application).
        explode: false
        in: path
        name: external_customer_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCheckoutUrl'
          description: Customer Checkout URL
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Generate a Customer Payment Provider Checkout URL
      tags:
      - customers
      x-accepts:
      - application/json
  /events:
    get:
      description: This endpoint is used for retrieving all events.
      operationId: findAllEvents
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/external_subscription_id'
      - description: Filter events by its code.
        explode: true
        in: query
        name: code
        required: false
        schema:
          example: event-123
          type: string
        style: form
      - description: Filter events by timestamp starting from a specific date.
        explode: true
        in: query
        name: timestamp_from
        required: false
        schema:
          example: 2022-08-08T00:00:00Z
          format: date-time
          type: string
        style: form
      - description: Filter events by timestamp up to a specific date.
        explode: true
        in: query
        name: timestamp_to
        required: false
        schema:
          example: 2022-08-08T00:00:00Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsPaginated'
          description: Events
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all events
      tags:
      - events
      x-accepts:
      - application/json
    post:
      description: This endpoint is used for transmitting usage measurement events
        to either a designated customer or a specific subscription.
      operationId: createEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
        description: Event payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Event
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Send usage events
      tags:
      - events
      x-content-type: application/json
      x-accepts:
      - application/json
  /events/batch:
    post:
      description: This endpoint can be used to send a batch of usage records. Each
        request may include up to 100 events.
      operationId: createBatchEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventBatchInput'
        description: Batch events payload
        required: true
      responses:
        "200":
          description: Event received
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Batch multiple events
      tags:
      - events
      x-content-type: application/json
      x-accepts:
      - application/json
  /events/estimate_fees:
    post:
      description: Estimate the fees that would be created after reception of an event
        for a billable metric attached to one or multiple pay in advance charges
      operationId: eventEstimateFees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEstimateFeesInput'
        description: Event estimate payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fees'
          description: Fees estimate
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Estimate fees for a pay in advance charge
      tags:
      - events
      x-content-type: application/json
      x-accepts:
      - application/json
  /events/{transaction_id}:
    get:
      description: This endpoint is used for retrieving a specific usage measurement
        event that has been sent to a customer or a subscription.
      operationId: findEvent
      parameters:
      - description: This field represents the unique identifier sent for this specific
          event (must be URL encoded).
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          example: transaction_1234567890
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Event
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a specific event
      tags:
      - events
      x-accepts:
      - application/json
    parameters:
    - description: This field represents the unique identifier sent for this specific
        event (must be URL encoded).
      explode: false
      in: path
      name: transaction_id
      required: true
      schema:
        example: transaction_1234567890
        type: string
      style: simple
  /fees:
    get:
      description: This endpoint is used for retrieving all fees that has been issued.
      operationId: findAllFees
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/external_customer_id'
      - $ref: '#/components/parameters/external_subscription_id'
      - description: Filter results by event transaction ID
        explode: true
        in: query
        name: event_transaction_id
        required: false
        schema:
          example: et_12345678
          type: string
        style: form
      - description: Filter results by fee's currency.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/Currency'
        style: form
      - description: "The fee type. Possible values are `add-on`, `charge`, `credit`\
          \ or `subscription`."
        explode: true
        in: query
        name: fee_type
        required: false
        schema:
          enum:
          - charge
          - add_on
          - subscription
          - credit
          - instant_charge
          example: charge
          type: string
        style: form
      - description: Filter results by the `code` of the billable metric attached
          to the fee. Only applies to `charge` types.
        explode: true
        in: query
        name: billable_metric_code
        required: false
        schema:
          example: bm_code
          type: string
        style: form
      - description: "Indicates the payment status of the fee. It represents the current\
          \ status of the payment associated with the fee. The possible values for\
          \ this field are `pending`, `succeeded`, `failed` and refunded`."
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          enum:
          - pending
          - succeeded
          - failed
          - refunded
          example: succeeded
          type: string
        style: form
      - description: Filter results created after creation date and time in UTC.
        explode: true
        in: query
        name: created_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results created before creation date and time in UTC.
        explode: true
        in: query
        name: created_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment success after creation date and time
          in UTC.
        explode: true
        in: query
        name: succeeded_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment success after creation date and time
          in UTC.
        explode: true
        in: query
        name: succeeded_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment failure after creation date and time
          in UTC.
        explode: true
        in: query
        name: failed_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment failure after creation date and time
          in UTC.
        explode: true
        in: query
        name: failed_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment refund after creation date and time
          in UTC.
        explode: true
        in: query
        name: refunded_at_from
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      - description: Filter results with payment refund after creation date and time
          in UTC.
        explode: true
        in: query
        name: refunded_at_to
        required: false
        schema:
          example: 2023-03-28T12:21:51Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesPaginated'
          description: Successful response
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: List all fees
      tags:
      - fees
      x-accepts:
      - application/json
  /fees/{lago_id}:
    delete:
      description: This endpoint is used for deleting a specific fee that has not
        yet been invoiced
      operationId: deleteFee
      parameters:
      - description: Unique identifier assigned to the fee within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the fee's record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
          description: Fee deleted
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/NotAllowed'
      summary: Delete a fee
      tags:
      - fees
      x-accepts:
      - application/json
    get:
      description: This endpoint is used for retrieving a specific fee that has been
        issued.
      operationId: findFee
      parameters:
      - description: Unique identifier assigned to the fee within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the fee's record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
          description: Fee
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a specific fee
      tags:
      - fees
      x-accepts:
      - application/json
    parameters:
    - description: Unique identifier assigned to the fee within the Lago application.
        This ID is exclusively created by Lago and serves as a unique identifier for
        the fee's record within the Lago system.
      explode: false
      in: path
      name: lago_id
      required: true
      schema:
        example: 1a901a90-1a90-1a90-1a90-1a901a901a90
        format: uuid
        type: string
      style: simple
    put:
      description: This endpoint is used for updating a specific fee that has been
        issued.
      operationId: updateFee
      parameters:
      - description: Unique identifier assigned to the fee within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the fee's record within the Lago system.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeUpdateInput'
        description: Fee payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
          description: Fee updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/NotAllowed'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update a fee
      tags:
      - fees
      x-content-type: application/json
      x-accepts:
      - application/json
  /invoices:
    get:
      description: This endpoint is used for retrieving all invoices.
      operationId: findAllInvoices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/external_customer_id'
      - description: Filter invoices of at least a specific amount. This parameter
          must be defined in cents to ensure consistent handling for all currency
          types.
        explode: true
        in: query
        name: amount_from
        required: false
        schema:
          example: 9000
          type: integer
        style: form
      - description: Filter invoices up to a specific amount. This parameter must
          be defined in cents to ensure consistent handling for all currency types.
        explode: true
        in: query
        name: amount_to
        required: false
        schema:
          example: 100000
          type: integer
        style: form
      - description: Filter invoices starting from a specific date.
        explode: true
        in: query
        name: issuing_date_from
        required: false
        schema:
          example: 2022-07-08
          format: date
          type: string
        style: form
      - description: Filter invoices up to a specific date.
        explode: true
        in: query
        name: issuing_date_to
        required: false
        schema:
          example: 2022-08-09
          format: date
          type: string
        style: form
      - description: Filter invoices by status. Possible values are `draft` or `finalized`.
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - finalized
          type: string
        style: form
      - description: "Filter invoices by payment status. Possible values are `pending`,\
          \ `failed` or `succeeded`."
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          enum:
          - pending
          - failed
          - succeeded
          type: string
        style: form
      - description: Filter invoices by payment_overdue. Possible values are `true`
          or `false`.
        explode: true
        in: query
        name: payment_overdue
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "Search invoices by id, number, customer name, customer external_id\
          \ or customer email."
        explode: true
        in: query
        name: search_term
        required: false
        schema:
          example: Jane
          type: string
        style: form
      - description: Filter invoices by currency. Possible values ISO 4217 currency
          codes.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          example: EUR
          type: string
        style: form
      - description: Filter invoices with a payment dispute lost. Possible values
          are `true` or `false`.
        explode: true
        in: query
        name: payment_dispute_lost
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: "Filter invoices by invoice type. Possible values are `subscription`,\
          \ `add_on`, `credit`, `one_off`, `advance_charges` or `progressive_billing`."
        explode: true
        in: query
        name: invoice_type
        required: false
        schema:
          enum:
          - subscription
          - add_on
          - credit
          - one_off
          - advance_charges
          - progressive_billing
          type: string
        style: form
      - description: Filter invoices by self billed. Possible values are `true` or
          `false`.
        explode: true
        in: query
        name: self_billed
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: Filter invoices by billing entity codes. Possible values are
          the billing entity codes you have created.
        explode: true
        in: query
        name: billing_entity_codes
        required: false
        schema:
          example:
          - acme_corp
          - foo_bar
          items:
            type: string
          type: array
        style: form
      - description: "Filter invoices by metadata. Replace `key` with the actual metadata\
          \ key you want to match, and provide the corresponding value. Providing\
          \ empty value will search for invoice without given metadata key. For example,\
          \ `metadata[color]=blue`."
        explode: true
        in: query
        name: "metadata[key]"
        required: false
        schema:
          example: someValue
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesPaginated'
          description: Invoices
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all invoices
      tags:
      - invoices
      x-accepts:
      - application/json
    post:
      description: This endpoint is used for issuing a one-off invoice.
      operationId: createInvoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceOneOffCreateInput'
        description: Invoice payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a one-off invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts:
      - application/json
  /invoices/{lago_id}:
    get:
      description: This endpoint is used for retrieving a specific invoice that has
        been issued.
      operationId: findInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve an invoice
      tags:
      - invoices
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/lago_invoice_id'
    put:
      description: This endpoint is used for updating an existing invoice.
      operationId: updateInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateInput'
        description: Update an existing invoice
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update an invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts:
      - application/json
  /invoices/{lago_id}/download:
    post:
      description: This endpoint is used for downloading a specific invoice PDF document.
      operationId: downloadInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice PDF
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Download an invoice PDF
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/{lago_id}/finalize:
    put:
      description: This endpoint is used for finalizing a draft invoice.
      operationId: finalizeInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice finalized
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Finalize a draft invoice
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/{lago_id}/lose_dispute:
    post:
      description: This endpoint is used for setting invoice's payment dispute as
        lost.
      operationId: loseDisputeInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice payment dispute lost
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/NotAllowed'
      summary: Mark an invoice payment dispute as lost
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/{lago_id}/refresh:
    put:
      description: This endpoint is used for refreshing a draft invoice.
      operationId: refreshInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice refreshed
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Refresh a draft invoice
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/{lago_id}/retry:
    post:
      description: This endpoint is used for retrying to generate a failed invoice.
      operationId: retryInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice generation has been retried
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retry generation of a failed invoice
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/{lago_id}/payment_url:
    post:
      description: This endpoint generates a checkout link for a specific invoice.
      operationId: invoicePaymentUrl
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentUrl'
          description: Payment URL has been generated
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Generate a payment URL
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/preview:
    post:
      description: This endpoint is used for generating invoice preview.
      operationId: invoicePreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePreviewInput'
        description: Invoice preview payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice preview created
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Create an invoice preview
      tags:
      - invoices
      x-content-type: application/json
      x-accepts:
      - application/json
  /invoices/{lago_id}/retry_payment:
    post:
      description: This endpoint resends an invoice for collection and retry a payment.
      operationId: retryPayment
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          description: Invoice payment retried
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "405":
          $ref: '#/components/responses/NotAllowed'
      summary: Retry an invoice payment
      tags:
      - invoices
      x-accepts:
      - application/json
  /invoices/{lago_id}/void:
    post:
      description: "This endpoint is used for voiding an invoice. You can void an\
        \ invoice only when it's in a `finalized` status, and the payment status is\
        \ not `succeeded`."
      operationId: voidInvoice
      parameters:
      - $ref: '#/components/parameters/lago_invoice_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice voided
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Void an invoice
      tags:
      - invoices
      x-accepts:
      - application/json
  /organizations:
    put:
      description: This endpoint is used to update your own organization's settings.
      operationId: updateOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateInput'
        description: Update an existing organization
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Successful response
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update your organization
      tags:
      - organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /payment_receipts:
    get:
      description: This endpoint is used to list all existing payment receipts.
      operationId: findAllPaymentReceipts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - description: Filter payment receipts by invoice id.
        explode: true
        in: query
        name: invoice_id
        required: false
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentReceiptsPaginated'
          description: PaymentReceipts
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all payment receipts
      tags:
      - payment_receipts
      x-accepts:
      - application/json
  /payment_receipts/{lago_id}:
    get:
      description: This endpoint retrieves a specific payment receipt.
      operationId: findPaymentReceipt
      parameters:
      - description: Payment receipt ID
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentReceipt'
          description: Payment receipt
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a payment receipt
      tags:
      - payment_receipts
      x-accepts:
      - application/json
    parameters:
    - description: Payment receipt ID
      explode: false
      in: path
      name: lago_id
      required: true
      schema:
        example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
        type: string
      style: simple
  /payment_requests:
    get:
      description: This endpoint is used to list all existing payment requests.
      operationId: findAllPaymentRequests
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/external_customer_id'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestsPaginated'
          description: PaymentRequests
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all payment requests
      tags:
      - payment_requests
      x-accepts:
      - application/json
    post:
      description: This endpoint is used to create a payment request to collect payments
        of overdue invoices of a given customer
      operationId: createPaymentRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestCreateInput'
        description: PaymentRequest payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequest'
          description: PaymentRequest created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a payment request
      tags:
      - payment_requests
      x-content-type: application/json
      x-accepts:
      - application/json
  /payments:
    get:
      description: This endpoint is used to list all payments
      operationId: findAllPayments
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/external_customer_id'
      - description: Unique identifier assigned to the invoice within the Lago application.
          This ID is exclusively created by Lago and serves as a unique identifier
          for the invoice's record within the Lago system.
        explode: true
        in: query
        name: lago_invoice_id
        required: false
        schema:
          example: 1a901a90-1a90-1a90-1a90-1a901a901a90
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsPaginated'
          description: Payments
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all payments
      tags:
      - payments
      x-accepts:
      - application/json
    post:
      description: This endpoint is used to create a manual payment
      operationId: createPayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateInput'
        description: Payment payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: Payment created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a payment
      tags:
      - payments
      x-content-type: application/json
      x-accepts:
      - application/json
  /payments/{lago_id}:
    get:
      description: This endpoint retrieves a specific payment by its ID.
      operationId: findPayment
      parameters:
      - description: Unique identifier of the payment.
        explode: false
        in: path
        name: lago_id
        required: true
        schema:
          example: f4a842d6-4bde-11ec-81d3-0242ac130003
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentManualObject'
          description: Payment details
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a payment
      tags:
      - payments
      x-accepts:
      - application/json
    parameters:
    - description: Unique identifier of the payment.
      explode: false
      in: path
      name: lago_id
      required: true
      schema:
        example: f4a842d6-4bde-11ec-81d3-0242ac130003
        format: uuid
        type: string
      style: simple
  /plans:
    get:
      description: This endpoint retrieves all existing plans.
      operationId: findAllPlans
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlansPaginated'
          description: Plans
        "401":
          $ref: '#/components/responses/Unauthorized'
      summary: List all plans
      tags:
      - plans
      x-accepts:
      - application/json
    post:
      description: This endpoint creates a plan with subscription and usage-based
        charges. It supports flexible billing cadence (in-advance or in-arrears) and
        allows for both recurring and metered charges.
      operationId: createPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreateInput'
        description: Plan payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan created
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Create a plan
      tags:
      - plans
      x-content-type: application/json
      x-accepts:
      - application/json
  /plans/{code}:
    delete:
      description: This endpoint deletes a specific plan. Note that this plan could
        be associated with active subscriptions.
      operationId: destroyPlan
      parameters:
      - description: "The code of the plan. It serves as a unique identifier associated\
          \ with a particular plan. The code is typically used for internal or system-level\
          \ identification purposes, like assigning a subscription, for instance."
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan deleted
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Delete a plan
      tags:
      - plans
      x-accepts:
      - application/json
    get:
      description: This endpoint retrieves a specific plan.
      operationId: findPlan
      parameters:
      - description: "The code of the plan. It serves as a unique identifier associated\
          \ with a particular plan. The code is typically used for internal or system-level\
          \ identification purposes, like assigning a subscription, for instance."
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
      summary: Retrieve a plan
      tags:
      - plans
      x-accepts:
      - application/json
    parameters:
    - description: "The code of the plan. It serves as a unique identifier associated\
        \ with a particular plan. The code is typically used for internal or system-level\
        \ identification purposes, like assigning a subscription, for instance."
      explode: false
      in: path
      name: code
      required: true
      schema:
        example: startup
        type: string
      style: simple
    put:
      description: This endpoint updates a specific plan with subscription and usage-based
        charges. It supports flexible billing cadence (in-advance or in-arrears) and
        allows for both recurring and metered charges.
      operationId: updatePlan
      parameters:
      - description: "The code of the plan. It serves as a unique identifier associated\
          \ with a particular plan. The code is typically used for internal or system-level\
          \ identification purposes, like assigning a subscription, for instance."
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: startup
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdateInput'
        description: Plan payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan updated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
      summary: Update a plan
      tags:
      - plans
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions:
    get:
      description: This endpoint retrieves all active subscriptions.
      operationId: findAllSubscriptions
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - description: The customer external unique identifier (provided by your own
          application)
        explode: true
        in: query
        name: external_customer_id
        required: false
        schema:
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
          type: string
        style: form
      - description: The unique code representing the plan to be attached to the customer.
          This code must correspond to the code property of one of the active plans.
        explode: true
        in: query
        name: plan_code
        required: false
        schema:
          example: premium
          type: string
        style: form
      - description: "If the field is not defined, Lago will return only `active`\
          \ subscriptions. However, if you wish to fetch subscriptions by different\
          \ status you can define them in a status[] query param. Available filter\
          \ values: `pending`, `canceled`, `terminated`, `active`."
        explode: true
        in: query
        name: "status[]"
        required: false
        schema:
          example:
          - active
          - pending
          items:
            enum:
            - pending
            - canceled
            - terminated
            - active
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsPaginated'
          description: List of subscriptions
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
[...]
